body
  background-color #18181a
  color #eee
  font 18px monospace
  margin 0
  box-sizing border-box
  min-height 100dvh

.mform

  &__list
    display flex
    flex-direction column
    gap 3rem

  &__cols
  &__rows
    display flex

  &__cols
    flex-direction row
    gap 1.75rem

  &__rows
    flex-direction column
    gap 1rem
